<spam style="color:yellow">Decision Tree</spam>

<spam style="color:cyan">***using decision tree to predict if the person would survve or not***</spam>

In [2]:
import numpy as np
import pandas as pd 
titanic_data=pd.read_csv('titanic.csv')
titanic_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

**checking null values in the dataset**

In [5]:
titanic_data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [6]:
titanic_data.shape

(891, 12)

**here cabin and age has most null values becuase that i remove cabin feature and replace null with other values in age feature**

In [7]:
titanic_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [13]:

titanic_data.drop(['Name','Ticket','Cabin'], axis=1, inplace=True, errors='ignore')
titanic_data['Age'].interpolate(method='linear', inplace=True)
titanic_data.head()

C:\Users\veera\AppData\Local\Temp\ipykernel_2900\3063217494.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  titanic_data['Age'].interpolate(method='linear', inplace=True)

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0            1         0       3    male  22.0      1      0   7.2500        S
1            2         1       1  female  38.0      1      0  71.2833        C
2            3         1       3  female  26.0      0      0   7.9250        S
3            4         1       1  female  35.0      1      0  53.1000        S
4            5         0       3    male  35.0      0      0   8.0500        S

*** ml models can only understand the numerical values ,so i sex features it contains string to num**

In [14]:
from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()
titanic_data['Sex']=lb.fit_transform(titanic_data['Sex'])
titanic_data.head()

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare Embarked
0            1         0       3    1  22.0      1      0   7.2500        S
1            2         1       1    0  38.0      1      0  71.2833        C
2            3         1       3    0  26.0      0      0   7.9250        S
3            4         1       1    0  35.0      1      0  53.1000        S
4            5         0       3    1  35.0      0      0   8.0500        S

In [16]:
titanic_data['Embarked'].isnull().sum()

2

In [17]:
titanic_data.dropna(subset=['Embarked'], inplace=True)

In [18]:
titanic_data.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       0
dtype: int64

**Now embarked is convert numerical values based on the category**

In [ ]:
dummies = pd.get_dummies(titanic_data['Embarked'], prefix='Embarked', drop_first=True)
titanic_data = pd.concat([titanic_data, dummies], axis=1)
titanic_data.drop('Embarked', axis=1, inplace=True)
titanic_data.head()

**now convert embarked boolean values into numeric**

In [ ]:
titanic_data['Embarked_Q']=titanic_data['Embarked_Q'].astype(int)
titanic_data['Embarked_S']=titanic_data['Embarked_S'].astype('category')
titanic_data['Embarked_S']=titanic_data['Embarked_S'].cat.codes
titanic_data.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_Q,Embarked_S
0,1,0,3,1,22.0,1,0,7.2500,0,1
1,2,1,1,0,38.0,1,0,71.2833,0,0
2,3,1,3,0,26.0,0,0,7.9250,0,1
3,4,1,1,0,35.0,1,0,53.1000,0,1
4,5,0,3,1,35.0,0,0,8.0500,0,1

In [34]:
x=titanic_data.drop('Survived', axis=1)
y=titanic_data['Survived']

In [38]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [40]:
x_train.head()

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_Q,Embarked_S
708,709,1,0,22.000000,0,0,151.5500,0,1
240,241,3,0,31.666667,1,0,14.4542,0,0
382,383,3,1,32.000000,0,0,7.9250,0,1
792,793,3,0,19.000000,8,2,69.5500,0,1
683,684,3,1,14.000000,5,2,46.9000,0,1

In [42]:
y_train.head()

708    1
240    0
382    0
792    0
683    0
Name: Survived, dtype: int64

<spam style="color:magneta">Decision Tree Model</spam>

In [45]:
from sklearn import tree
model=tree.DecisionTreeClassifier()
model.fit(x_train, y_train)

DecisionTreeClassifier()

In [47]:
x_test.head()

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_Q,Embarked_S
281,282,3,1,28.0,0,0,7.8542,0,1
435,436,1,0,14.0,1,2,120.0000,0,1
39,40,3,0,14.0,1,0,11.2417,0,0
418,419,2,1,30.0,0,0,13.0000,0,1
585,586,1,0,18.0,0,2,79.6500,0,1

In [56]:
y_pred=model.predict(x_test)
y_pred

array([1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0,
       0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0,
       1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0,
       0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0,
       0, 1], dtype=int64)

In [55]:
model.predict([[282,3,1,28.0,0,0,7.8545,0,1]])

c:\Users\veera\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)

In [57]:
from sklearn.metrics import accuracy_score
print("accuracy score for decision tree model:", accuracy_score(y_test, y_pred))

accuracy score for decision tree model: 0.7359550561797753